.nav-main-container{
    background-color: #316412;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-row-container{
    display:flex;
    flex-direction: row;
}
.nav-column1{
    color: white;
}
